<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <a class="navbar-brand" href="#">Event Area</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Eventos na sua Área</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Todos os Eventos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecionar por Categoria
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Corporativo</a>
            <a class="dropdown-item" href="#">Educacional</a>
            <a class="dropdown-item" href="#">Entretenimento</a>
            <a class="dropdown-item" href="#">Esportivo</a>
            <a class="dropdown-item" href="#">Político</a>
            <a class="dropdown-item" href="#">Religioso</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/evento/novo']" routerLinkActive="router-link-active" >Cadastrar Evento</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-xl-2" type="search" placeholder="Pesquisar por Eventos" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>